/*borders and padding are included within the width or height of an element. */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {			/*image to resize with window...*/
    min-height: 100%;   /*keep footer at bottom*/
    margin: 0;		
    padding: 0;
    font-size: 12px;
	}
body {	            	/*padding-top: 10px;		to avoid content being hidden by navbar*/
	background-color: #000000;
	color: #FFFFFF;
	font-family:'Helvetica, Arial, sans-serif';
	display:flex;				/*any items inside content div will become flex items*/
	justify-content: space-around;
	flex-direction:column;
	}

div.content {		/*center webpage, need this to centre navbar*/
    width: 980px;
    margin:0 auto;
    /*flex: 1 0 auto; - makes navbar too wide*/
	font-size: 1.5em;		/*em preferred  for responsive pages*/
	
}

#header, #logo {				/*this should center logo?!!!!*/
	display: block;
    margin-left: auto;
    margin-right: auto; 
    }


#logo{		/*this centers logo!!!!!!!!!!!!!*/
	width:100%;
	text-align: center;
}
#ulnav a {
display:block;
text-align:center;
width:119px;  /*fixed width */
text-decoration:none; 
}



*.row {
	margin-bottom:20px;
}
/* do not set width on div child so takes same width as parent*/

#mainpic {		/*max-width: 100%;, need to style div to get bottom margin */
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    
    margin-bottom:30px;
}
#newtrack{
	width:30%;
	height:30%;
	}
	

#newaudio{  /*audio control on home page*/
	display:none;
}
@media screen and (max-width: 400px){   /* max-width for mobile */
    p {
        font-size: 10px;
    }
   
}
/* Style all font awesome icons */
.fa {
    padding:10px;
    /*font-size: 50px;*/
    width: 100px;
    text-align: center;
    text-decoration: none;
    background: #000000;
    color: #A9A9A9;
}

/* centre text & set footer color */
footer{
    background: #000000;
    text-align:center;
    font-size:0.75em;
    font-weight: lighter;  
}
.list-group-item{
	background-color:#000000;
}
audio{
	background-color:#000000;	
}

 video {
        display: block;
        margin: 50px auto;
        /*filter: grayscale(50%);
        -webkit-filter: grayscale(100%);
        -webkit-filter: hue-rotate(270deg);
        -webkit-filter: invert(1); */
        /* http://html5-demos.appspot.com/static/css/filters/index.html*/
    }


#gallerypanel div figure img {
	border:5px solid white;
	max-width:160px;
	max-height:160px;
	transition:transform 0.25s ease;
	
}
/* enlarge image when hovering over*/
#gallerypanel div figure img:hover {
	-webkit-transform:scale(2.5); 
    transform:scale(2.5);
    
}
#gallerypanel{
	margin-top:60px;
	margin-bottom:60px;
	position:relative;
}
.container{
	min-height:100%;
}

/*enlargens image when called by jquery function*/
.image_enlarge{
	-webkit-transform:scale(2.0); 
    transform:scale(2.0);
    z-order:100;
}

.image_to_back{
	z-order:-1;
}

.underline{
  text-decoration:underline;
}
.border{
  border: solid 2px #ccc;
}
#bookingpanel



#gallery1, #gallery2, div, figure{
	position:relative;
}