<div class="container"> <!-- style="background-image: url(wallpaper.jpeg)" background-repeat: no-repeat;>-->
    <h1>{{title}}</h1>

    <label>Listen to audio clips from our back catalogue. Just click on the song title.</label>
    <div class="row">
        <div class="col-sm-6">
            <h4><u>Album - Everything is Righteous</u></h4>
                <ul>
                    <li><a HREF="http://www.swinglegacy.com/audio/c5ztopsy.mp3">Topsy</a>
                        <audio controls= "controls" loop preload="metadata">
                             <source src="/music/c5ztopsy.mp3" type="audio/mpeg; codecs=mp3"/>  
                             Your browser does not support the audio element.
                        </audio>
                    </li>
                    <li><a HREF="http://www.swinglegacy.com/audio/c5zfish.mp3">Fish for supper</a>
                         <audio controls= "controls" loop preload="metadata">
                             <source src="/music/c5zfish.mp3" type="audio/mpeg; codecs=mp3"/>  
                             Your browser does not support the audio element.
                        </audio>
                    </li>
                </ul>
                                      
            
        </div>
        <div class="col-sm-6">
            <h4><u>Album - The Jazz Album</u></h4>
             <ul>
                    <li><a HREF="http://www.swinglegacy.com/audio/c3zmoonriver.mp3">Moon river</a>
                        <audio controls= "controls" loop preload="metadata">
                             <source src="/music/c3zmoonriver.mp3" type="audio/mpeg; codecs=mp3"/>  
                             Your browser does not support the audio element.
                        </audio>
                    </li>
                    <li><a HREF="http://www.swinglegacy.com/audio/c5vblackcoffee.mp3">Black Coffee</a>
                         <audio controls= "controls" loop preload="metadata">
                             <source src="/music/c5vblackcoffee.mp3" type="audio/mpeg; codecs=mp3"/>  
                             Your browser does not support the audio element.
                        </audio>
                    </li>
                </ul>
                    
        </div>
       
    </div>
</div>