<div class="container" id = "audiopanel">
    <h3>{{title}}</h3>
    <div class="row">
        <div class="col-sm-12 col-md-10">
            <table>
                 <thead>
                    <tr>
                        <th width="20%">No.</th>
                        <th width="50%">Name of track</th>
                        <th width="40%">Album</th>
                        <th width="50%">Play</th>
                    </tr>
                </thead>

                <tr ng-repeat="clip in objSoundClips">
                    <td>{{$index + 1}}</td>
                    <td>{{clip.track}}</td>
                    <td>{{clip.album}}</td>
                    <td>
                        <audio controls= "controls" preload="metadata">
                            <source src= {{clip.filemp3}} type="audio/mpeg; codecs=mp3"/> 
                            <source src= {{clip.fileogg}} type="audio/ogg; codecs=vorbis"/> 
                             <!-- lets users with unsupporting browsers know what's going on.-->
                            Your browser does not support the audio element.
                        </audio>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>