<div class='container'>	
    <h1>{{title}}</h1>

    <!--add panel and assign  it the id of accordian to link panels together  -->
	  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <!--link panel heading to panel body via  href and add toggle effect-->
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Dean Martin</a>
                    <img src="photos/dean.jpeg" height=15% width=15%>
                </h4>
            </div>
            <!--set first panel to open position with class in-->
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p>Martin was born Dino Paul Crocetti in Steubenville, Ohio, to Angela (Barra) and Gaetano Alfonso Crocetti, a barber. His father was an Italian immigrant, and his mother was of Italian descent. He spoke only Italian until age five. Martin came up the hard way, with such jobs as a boxer (named Kid Crochet), a steel mill worker, a gas station worker and a card shark. <a href="http://www.biography.com/people/dean-martin-9542166" target="_blank">Learn more.</a>
                    </p>

                    
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                     <!--link panel heading to panel body via  href and add toggle effect-->
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><u>2. Frank Sinatra</u></a>
                    <img src="photos/frank.jpeg" height=10% width=10%>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Born in New Jersey on December 12, 1915, Frank Sinatra rose to fame singing big band numbers. In the '40s and '50s, he had a dazzling array of records and film appearances, winning an Oscar for From Here to Eternity. He died in 1998<a href="http://www.biography.com/people/frank-sinatra-9484810" target="_blank">Learn more.</a></p>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                     <!--link panel heading to panel body via  href and add toggle effect-->
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Sammy Davies Junior</a>
                    <img src="photos/sammy.jpeg" height=9% width=9%>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Sammy Davis Jr. was a highly popular actor, comedian, singer and dancer. He was also part of the Rat Pack with Frank Sinatra and Dean Martin, with whom he starred in several films <a href="http://www.biography.com/people/sammy-davis-jr-9268223" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
