<div class="container" id="gallerypanel">
    <h3>{{title}}</h3>

    <div class="row">
         <div class="col-sm-4 col-md-2">
            <figure>
                <img class="galleryitems" src="static/images/dean.jpeg" alt="Dean Martin">
            </figure>
            <figcaption>Dean Martin</figcaption>                                      
        </div>
        <div class="col-sm-4 col-md-2">
            <figure>
                <img class="galleryitems"src="static/images/frank.jpeg" alt="Frank Sinatra" >
            </figure>
            <figcaption>Frank Sinatra</figcaption>      
        </div>
         <div class="col-sm-4 col-md-2">
            <figure>
                <img class="galleryitems"src="static/images/sammy.jpeg" alt="Sammy Davies Junior" >
            </figure>
            <figcaption>Sammy Davies Junior</figcaption> 
        </div>
       
        <div class="col-sm-4 col-md-2">
            <figure>
                <img class="galleryitems"src="static/images/peter.png" alt="Peter Lawford" >
            </figure>
            <figcaption>Peter Lawford</figcaption>                                      
        </div>
        <div class="col-sm-4 col-md-2">
            <figure>
                <img class="galleryitems"src="static/images/joey.jpg" alt="Joey Bishop" >
            </figure>
            <figcaption>Joey Bishop</figcaption>    
        </div>
    </div>
</div>


    