<div class='container' >
    <h3>{{title}}</h3>

    <div class="row" id="gallerypanel">
         <div class="col-sm-4 col-md-2">
            <figure>
                <img id="gallery1" src="static/images/dean.jpeg" alt="Dean Martin">
            </figure>
            <figcaption>Dean Martin</figcaption>                                      
        </div>
        <div class="col-sm-4 col-md-2">
            <figure>
                <img src="static/images/frank.jpeg" alt="Frank" id="gallery2">
            </figure>
            <figcaption>Frank Sinatra</figcaption>      
        </div>
         <div class="col-sm-4 col-md-2">
            <figure>
                <img src="static/images/sammy.jpeg" alt="Sammy" id="gallery3">
            </figure>
            <figcaption>Sammy Davies Junior</figcaption> 
        </div>
       
        <div class="col-sm-4 col-md-2">
            <figure>
                <img src="static/images/peter.png" alt="Peter Lawford" id="gallery4">
            </figure>
            <figcaption>Peter Lawford</figcaption>                                      
        </div>
        <div class="col-sm-4 col-md-2">
            <figure>
                <img src="static/images/joey.jpg" alt="Joey Bishop" id="gallery5">
            </figure>
            <figcaption>Joey Bishop</figcaption>    
        </div>
    </div>
</div>


    