<div class="container"> <!-- style="background-image: url(wallpaper.jpeg)" background-repeat: no-repeat;>-->
    <h1>{{title}}</h1>

    <div class="row">
        <div class="col-sm-4" border-radius:50px;>
            <img src="photos/dean.jpeg" alt="Dean Martin" style="border:5px solid black" >
            <div class="topleft">Dean Martin</div>                                      
        </div>
        <div class="col-sm-4">
            <img src="photos/frank.jpeg" alt="Frank" style="border:5px solid black">
            <div class="topleft">Frank Sinatra</div>     
        </div>
         <div class="col-sm-4">
            <img src="photos/sammy.jpeg" alt="Sammy" style="border:5px solid black" >
            <div class="topleft">Sammy Davies Junior</div>     
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4" border-radius:50px;>
            <img src="photos/group1.jpeg">
                                              
        </div>
        <div class="col-sm-4">
            <img src="photos/group2.jpeg">
            
        </div>
        
    </div>

</div>