<div class="container">			<!--style="margin-bottom:10px;"-->
	
        
    <div class="row">
    	<div class="col-sm-10 col-md-10">
    		<img src="static/images/swingband1.png" alt="Photo" id="mainphoto">
    	</div>
    </div>
    
	<div class="row">
		<div class="col-sm-10 col-md-10">
    		<p>The Charles Martin Swing Band bring the whole world of swing music to your corporate event or wedding celebration from start to finish. If you and your guests enjoy Michael Buble, Frank Sinatra, Dean Martin and the Rat Pack era then this is the perfect events band for you.</p>
    		<p>With twenty years experience of performing live and repertoire ranges from Classic Swing music, Modern Contemporary Chart and 50’s music right up to the present day, the Charles Martin Swing Band will deliver unforgettable entertainment.    		</p>
    	</div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-md-5">
        	<!--click on image to listen to short hidden audio --> 
        	<p>Click here to listen to our latest track</p>
			<img id="newtrack" src="static/images/album.jpeg" alt="album" onclick="document.getElementById('newaudio').play();">
			<br>
			<audio id="newaudio" controls= "controls" preload="metadata">
				<source src="static/music/SampleAudio.mp3" type="audio/mpeg; codecs=mp3"/>	 
				<!-- add other fallback solution here -->
				Your browser does not support the audio element.
			</audio>
		</div>
		<!-- turn 'booking form' into  a link to the bookings form -->
		 <div class="col-sm-10 col-md-6"  ng-init="myVar = '/bookings'">
		 	<h4><u>Contact us</u></h4>
			<p>Call us on 01332 465638 or 07711967707</p>
			<p> If you prefer use our  <a ng-href={{myVar}}>bookings form</a></p>
			<p> or send an email to
			<a href="mailto:CharlesMartin@gmail.com">CharlesMartin@gmail.com</a></p>
		</div>
		
	</div>
</div>
