<div class="container" id="videopanel"> <!-- -->
    <h3>{{title}}</h3>
    <div class="row">
        <div class="col-sm-12 col-md-3">
             <!-- Preload just metadata  -->
             <video width="280" height="240" controls="controls" preload="auto" poster= "static/images/group1.jpeg">
                <source src="static/videos/big_buck_bunny.mp4" type="video/mp4"/>
                <source src="static/videos/big_buck_bunny.ogv" type="video/ogg"/>
                <source src="static/videos/big_buck_bunny.webm" type="video/webm"/>
                <track default src="static/videos/track.vtt" label="English subtitles" kind="subtitles" srclang="en" default>
                Your browser does not support the video tag.
                
            </video>
        </div>
        <div class="col-sm-12 col-md-3">
            <!--play the video beginning at 10 seconds and ending at 30 seconds #t=10,30,-->
            <video  width="280" height="240"  controls="controls" preload="metadata" poster= "static/images/group2.jpg">
                <source src="static/videos/SampleVideo.mp4" type="video/mp4"/>
                <source src="static/videos/small.ogv#t=10,30" type="video/ogg"/>
                <source src="static/videos/small.webm#t=10,30" type="video/webm"/>
                <track default src="static/videos/track.vtt" label="English subtitles" kind="subtitles" srclang="en" default>
                Your browser does not support the video tag.
            </video>

        </div>
        <div class="col-sm-12 col-md-3">
            <video  width="280" height="240"  controls="controls" preload="metadata" poster= "static/images/group4.jpg">
                <source src="static/videos/TheMonkees.mp4" type="video/mp4"/>
                <source src="static/videos/small.ogv" type="video/ogg"/>
                <source src="static/videos/small.webm" type="video/webm"/>
                <track default src="static/videos/track.vtt" label="English subtitles" kind="subtitles" srclang="en" default>
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
