<div class="container"> <!-- style="background-image: url(wallpaper.jpeg)" background-repeat: no-repeat;>-->
    <h1>{{title}}</h1>

    <label>See clips from our back catalogue. </label>
    <div class="row">
        <div class="col-sm-6">
            <h4><u>Video clip 1</u></h4>
                 <video width=70% height=70% controls= "controls" preload="metadata" poster= "music/swingbanda.jpg">
                    <source src="music/SampleVideo.mp4"/>
                    Your browser does not support the video tag.
                </video>
                                                
            
        </div>
        <div class="col-sm-6">
            <h4><u>Video clip 2</u></h4>
                
                <video width=70% height=70% controls= "controls" preload="metadata" poster= "music/swingbandb.jpeg">
                    <source src="music/TheMonkees.mp4"/>
                    Your browser does not support the video tag.
                </video>
                                                
            
        </div>
    </div>

</div>